[General]
Name={{ name }}
Parent={{ parent }}
{% if command -%}
Command={{ command }}
{% endif -%}
InheritContainerContext=true

[Appearance]
ColorScheme={{ color_scheme }}
Font={{ font }}
WordMode=true
BorderWhenActive=true
FocusBorderColor={{ hex2dec(accent) }}

[Cursor Options]
CursorShape=1

[Terminal Features]
BlinkingCursorEnabled=true
AnimatingCursorEnabled=true
LineNumbers=1
TrimLeadingSpacesInSelectedText=true
TrimTrailingSpacesInSelectedText=true
UrlHintsModifiers=67108864

[Interaction Options]
UnderlineFilesEnabled=true
