[Background]
Color={{ hex2dec(base00) }}

[BackgroundIntense]
Color={{ hex2dec(base03) }}

[Foreground]
Color={{ hex2dec(base05) }}

[ForegroundIntense]
Color={{ hex2dec(base07) }}

[Color0]
Color={{ hex2dec(base00) }}

[Color0Intense]
Color={{ hex2dec(base03) }}

[Color1]
Color={{ hex2dec(base08) }}

[Color1Intense]
Color={{ hex2dec(base08) }}

[Color2]
Color={{ hex2dec(base0B) }}

[Color2Intense]
Color={{ hex2dec(base0B) }}

[Color3]
Color={{ hex2dec(base0A) }}

[Color3Intense]
Color={{ hex2dec(base0A) }}

[Color4]
Color={{ hex2dec(base0D) }}

[Color4Intense]
Color={{ hex2dec(base0D) }}

[Color5]
Color={{ hex2dec(base0E) }}

[Color5Intense]
Color={{ hex2dec(base0E) }}

[Color6]
Color={{ hex2dec(base0C) }}

[Color6Intense]
Color={{ hex2dec(base0C) }}

[Color7]
Color={{ hex2dec(base05) }}

[Color7Intense]
Color={{ hex2dec(base07) }}
