[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=openVSCode;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Open In

[Desktop Action openVSCode]
Name=VS Code
Icon=code
Exec=code "%f"
