REGEDIT4

[HKEY_CURRENT_USER\Control Panel\Colors]
"ActiveBorder"="{{ hex2dec_space(base02) }}"
"ActiveTitle"="{{ hex2dec_space(base0D) }}"
"AppWorkspace"="{{ hex2dec_space(base00) }}"
"Background"="{{ hex2dec_space(base00) }}"
"ButtonAlternativeFace"="{{ hex2dec_space(base01) }}"
"ButtonDkShadow"="{{ hex2dec_space(base00) }}"
"ButtonFace"="{{ hex2dec_space(base01) }}"
"ButtonHilight"="{{ hex2dec_space(base03) }}"
"ButtonLight"="{{ hex2dec_space(base02) }}"
"ButtonShadow"="{{ hex2dec_space(base02) }}"
"ButtonText"="{{ hex2dec_space(base05) }}"
"GradientActiveTitle"="{{ hex2dec_space(base0D) }}"
"GradientInactiveTitle"="{{ hex2dec_space(base02) }}"
"GrayText"="{{ hex2dec_space(base03) }}"
"Hilight"="{{ hex2dec_space(base0D) }}"
"HilightText"="{{ hex2dec_space(base00) }}"
"HotTrackingColor"="{{ hex2dec_space(base0C) }}"
"InactiveBorder"="{{ hex2dec_space(base02) }}"
"InactiveTitle"="{{ hex2dec_space(base02) }}"
"InactiveTitleText"="{{ hex2dec_space(base04) }}"
"InfoText"="{{ hex2dec_space(base05) }}"
"InfoWindow"="{{ hex2dec_space(base01) }}"
"Menu"="{{ hex2dec_space(base01) }}"
"MenuBar"="{{ hex2dec_space(base01) }}"
"MenuHilight"="{{ hex2dec_space(base0D) }}"
"MenuText"="{{ hex2dec_space(base05) }}"
"Scrollbar"="{{ hex2dec_space(base01) }}"
"TitleText"="{{ hex2dec_space(base00) }}"
"Window"="{{ hex2dec_space(base00) }}"
"WindowFrame"="{{ hex2dec_space(base02) }}"
"WindowText"="{{ hex2dec_space(base05) }}"

[HKEY_CURRENT_USER\Control Panel\Desktop]
"FontSmoothing"="2"
"FontSmoothingType"="2"
"FontSmoothingOrientation"="1"

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager]
"ThemeActive"="0"
