[General]
ColorScheme=Stylix
Name=Stylix

[KDE]
widgetStyle=Breeze

[UiSettings]
ColorScheme=Stylix

[ColorEffects:Disabled]
ColorAmount=0
ColorEffect=0
ContrastAmount=0.5
ContrastEffect=1
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ColorAmount=0
ColorEffect=0
ContrastAmount=0.5
ContrastEffect=1
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ hex2dec(base01) }}
BackgroundNormal={{ hex2dec(base00) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base05) }}
ForegroundInactive={{ hex2dec(base05) }}
ForegroundLink={{ hex2dec(base05) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base05) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base05) }}

[Colors:Complementary]
BackgroundAlternate={{ hex2dec(base01) }}
BackgroundNormal={{ hex2dec(base00) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base05) }}
ForegroundInactive={{ hex2dec(base05) }}
ForegroundLink={{ hex2dec(base05) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base05) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base05) }}

[Colors:Selection]
BackgroundAlternate={{ hex2dec(base0D) }}
BackgroundNormal={{ hex2dec(base0D) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base00) }}
ForegroundInactive={{ hex2dec(base00) }}
ForegroundLink={{ hex2dec(base00) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base00) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base00) }}

[Colors:Tooltip]
BackgroundAlternate={{ hex2dec(base01) }}
BackgroundNormal={{ hex2dec(base00) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base05) }}
ForegroundInactive={{ hex2dec(base05) }}
ForegroundLink={{ hex2dec(base05) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base05) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base05) }}

[Colors:View]
BackgroundAlternate={{ hex2dec(base01) }}
BackgroundNormal={{ hex2dec(base00) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base05) }}
ForegroundInactive={{ hex2dec(base05) }}
ForegroundLink={{ hex2dec(base05) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base05) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base05) }}

[Colors:Window]
BackgroundAlternate={{ hex2dec(base01) }}
BackgroundNormal={{ hex2dec(base00) }}
DecorationFocus={{ hex2dec(base0D) }}
DecorationHover={{ hex2dec(base0D) }}
ForegroundActive={{ hex2dec(base05) }}
ForegroundInactive={{ hex2dec(base05) }}
ForegroundLink={{ hex2dec(base05) }}
ForegroundNegative={{ hex2dec(base08) }}
ForegroundNeutral={{ hex2dec(base0D) }}
ForegroundNormal={{ hex2dec(base05) }}
ForegroundPositive={{ hex2dec(base0B) }}
ForegroundVisited={{ hex2dec(base05) }}

[WM]
activeBackground={{ hex2dec(base00) }}
activeBlend={{ hex2dec(base0A) }}
activeForeground={{ hex2dec(base05) }}
inactiveBackground={{ hex2dec(base00) }}
inactiveBlend={{ hex2dec(base03) }}
inactiveForeground={{ hex2dec(base05) }}
