[ColorScheme]
active_colors=#ff{{ base05 }}, #ff{{ base00 }}, #ff{{ base02 }}, #ff{{ base01 }}, #ff{{ base00 }}, #ff{{ base01 }}, #ff{{ base05 }}, #ff{{ base07 }}, #ff{{ base05 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base0D }}, #ff{{ base00 }}, #ff{{ base0D }}, #ff{{ base0E }}, #ff{{ base01 }}, #ff000000, #ff{{ base01 }}, #ff{{ base05 }}, #80{{ base05 }}
disabled_colors=#ff{{ base03 }}, #ff{{ base00 }}, #ff{{ base02 }}, #ff{{ base01 }}, #ff{{ base00 }}, #ff{{ base01 }}, #ff{{ base03 }}, #ff{{ base07 }}, #ff{{ base03 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base0D }}, #ff{{ base03 }}, #ff{{ base0D }}, #ff{{ base0E }}, #ff{{ base01 }}, #ff000000, #ff{{ base01 }}, #ff{{ base03 }}, #80{{ base03 }}
inactive_colors=#ff{{ base05 }}, #ff{{ base00 }}, #ff{{ base02 }}, #ff{{ base01 }}, #ff{{ base00 }}, #ff{{ base01 }}, #ff{{ base05 }}, #ff{{ base07 }}, #ff{{ base05 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base00 }}, #ff{{ base0D }}, #ff{{ base00 }}, #ff{{ base0D }}, #ff{{ base0E }}, #ff{{ base01 }}, #ff000000, #ff{{ base01 }}, #ff{{ base05 }}, #80{{ base05 }}
